:where(button, .button) {
  --button-color: var(--brand);

  position: relative;
  display: inline-flex;
  align-items: center;
  padding-inline: var(--size-relative-3);
  padding-block: var(--size-relative-2);
  border-radius: var(--default-radius);
  box-shadow: var(--shadow-3);
  background-color: var(--button-color);
  gap: var(--size-relative-2);
  border: var(--border-size-1) solid transparent;

  color: var(--gray-1);
  font-weight: var(--font-weight-5);

  transition-duration: var(--default-animation-time);

  &:hover {
    background-color: color-mix(in srgb, var(--button-color) 80%, white);
  }

  &:active {
    background-color: color-mix(in srgb, var(--button-color) 70%, white);
    transition: 0s;
  }

  &:disabled {
    pointer-events: none;
    background-color: color-mix(in srgb, var(--button-color) 60%, white);
  }

  &.outline {
    background-color: transparent;
    color: var(--button-color);
    border-color: var(--button-color);

    &:hover {
      background-color: color-mix(
        in srgb,
        transparent 90%,
        var(--surface-contrast)
      );
    }

    &:active {
      background-color: color-mix(
        in srgb,
        transparent 80%,
        var(--surface-contrast)
      );
    }

    &:disabled {
      color: var(--text-3);
      background-color: transparent;
      border-color: var(--surface-4);
    }
  }

  &.discrete {
    background-color: transparent;
    color: var(--text-1);
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: color-mix(
        in srgb,
        transparent 85%,
        var(--surface-contrast)
      );
    }

    &:active {
      background-color: color-mix(
        in srgb,
        transparent 75%,
        var(--surface-contrast)
      );
    }

    &:disabled {
      color: var(--text-3);
      background-color: transparent;
    }
  }

  &.material-icons {
    padding-inline: var(--size-2);
    padding-block: var(--size-2);
  }

  & span.material-icons {
    &.left {
      margin-left: calc(-1 * var(--size-relative-1));
    }
    &.right {
      margin-right: calc(-1 * var(--size-relative-1));
    }
  }

  &.danger {
    --button-color: var(--red-9);
  }
  &.warning {
    --button-color: var(--yellow-7);
  }
}
