:where(.button-group) {
  display: flex;

  & > * {
    border-radius: 0;

    &:not(:last-child) {
      border-right-width: 0;
    }
  }

  & > :first-child {
    border-top-left-radius: var(--default-radius);
    border-bottom-left-radius: var(--default-radius);
  }
  & > :last-child {
    border-top-right-radius: var(--default-radius);
    border-bottom-right-radius: var(--default-radius);
  }
}
