:where(select) {
  background-color: var(--surface-0);
  box-shadow: var(--shadow-2), 0 0 1px 1px var(--surface-2);
  padding-block: var(--size-relative-2);
  padding-inline: var(--size-relative-3) var(--size-relative-7);
  border-radius: var(--default-radius);
  transition: outline-width var(--default-animation-time);
  outline: 0px solid var(--brand);
  outline-offset: 0;

  appearance: none;
  background-image: url("/public/chevron_down.svg");
  background-position: calc(100% - 0.5em) center;
  background-size: var(--size-relative-5);

  &:focus {
    outline-width: var(--border-size-2);
    background-image: url("/public/chevron_up.svg");
  }
}
