:where(.toast) {
  position: fixed;
  z-index: var(--layer-important);
  bottom: var(--size-5);
  left: 50%;
  min-width: var(--size-xs);
  margin-inline: var(--size-7);
  background-color: var(--surface-contrast);
  color: var(--text-contrast);
  padding: var(--size-relative-3) var(--size-relative-4);
  border-radius: var(--default-radius);
  box-shadow: var(--shadow-3);
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;

  animation: slide-up 0.5s var(--ease-3) forwards,
    slide-up 0.5s var(--ease-3) reverse forwards;
  animation-delay: 0s, 4s;

  & :where(button) {
    background: transparent;
    color: var(--text-contrast);
    margin-block: calc(-1 * var(--size-relative-2));
    margin-right: calc(-1 * var(--size-relative-2));
    padding-inline: var(--size-relative-2);
    padding-block: var(--size-relative-1);
  }

  &.early-out {
    animation: fade-scale-out 0.5s var(--ease-3) forwards;
  }
}

@keyframes slide-up {
  from {
    transform: translate(-50%, calc(100% + var(--size-5)));
  }
}

@keyframes fade-scale-out {
  to {
    transform: translateX(-50%) scale(0.75);
    opacity: 0;
  }
}
