:where([data-tooltip]) {
  position: relative;

  &:disabled {
    pointer-events: auto;
  }

  &:before {
    position: absolute;
    content: attr(data-tooltip);
    padding: var(--size-relative-1) var(--size-relative-2);
    color: var(--text-1);
    background-color: var(--surface-1);
    box-shadow: var(--shadow-3);
    display: none;
    opacity: 0;
    border-radius: var(--default-radius);
    top: 100%;
    z-index: var(--layer-important);
    white-space: nowrap;

    /* Explicitly set font in case of tooltip on material-icons */
    font-family: var(--font-sans);
    font-size: var(--font-size-1);
  }

  &:hover:before {
    display: block;
    animation: var(--animation-fade-in) forwards;
  }
}
