@import "npm:open-props/open-props.min.css";
@import "npm:open-props/normalize.min.css";
@import "npm:open-props/theme.light.switch.min.css";
@import "npm:open-props/theme.dark.switch.min.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "props/variable-sizes.css";
@import "props/theme-extended.css";
@import "props/light-extended.css";
@import "props/dark-extended.css";

@import "components/buttons.css";
@import "components/button-groups.css";

@import "components/inputs.css";
@import "components/selects.css";
@import "components/checkboxes.css";
@import "components/radios.css";
@import "components/textareas.css";

@import "components/tabs.css";
@import "components/modals.css";
@import "components/tooltips.css";
@import "components/toasts.css";
@import "components/scrollbars.css";

:where(html) {
  --brand: var(--cyan-6);
  --default-radius: var(--radius-2);
  --default-font-size: 1rem;
  --default-animation-time: 300ms;
  --default-font: "Roboto", sans-serif;

  @media (prefers-reduced-motion: reduce) {
    --default-animation-time: 0s;
  }

  font-family: var(--default-font);
  font-weight: var(--font-weight-4);
  font-size: var(--default-font-size);
}

:where(body) {
  color: var(--text-1);
}
